<div class="container-fluid">
  <div class="row p-4">
    <div class="col-12 col-sm-3 mt-5">
      <app-filters #Child (filterEvent)="getValuesFromFilters($event)"
        (filterEventColor)="getColorsFromFilters($event)"></app-filters>
    </div>
    <div class="col mt-5">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #dad3c7">
          <li class="breadcrumb-item"><a routerLink='/home' style="color: #514646">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cotton</li>
          <select id="sort-by" (change)="sort($event)" style="float: right">
            <option value="" selected disabled hidden>Sort By</option>
            <option value="Name">Name</option>
            <option value="Low">Show Low to High Price</option>
            <option value="High">Show High to Low Price</option>
          </select>
        </ol>
      </nav>

      <!-- <div *ngFor="let p of allProducts">
        {{p.Name}} - {{p.Price}}
      </div> -->
      <div class="row mt-5">
        <div class=" col-md-4"
          *ngFor="let data of allProducts |filter:searchkey:'title' | paginate:{itemsPerPage:count,currentPage:p}; let i=index">
          <div class="card-sl mb-3">
            <div class="card-image">
              <img appImage src={{data.images[0]}} />
            </div>

            <div class="card-heading">
              {{data.name}}
            </div>
            <div class="card-text">
              {{data.description}}
            </div>
            <div class="card-text">
              {{data.price}} PKR / {{data.size}} Metre
            </div>
            <a class="card-button" routerLink="/productCotton" (click)="onDataSelection(i)"> Add To Cart</a>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="d-flex justify-content-center mt-5 text-center">Featured Products</h1>
  </div>
  <div class="container-fluid">
    <div class="row" *ngIf="featured">
      <carousel [height]="700" [cellWidth]="350" [loop]=true [autoplay]=true>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[0].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[0].name}}
            </div>
            <div class="card-text">
              {{featured[0].description}}
            </div>
            <div class="card-text">
              {{featured[0].price}} PKR / {{featured[0].size}} Metre
            </div>
            <button class="card-button" (click)="onDataSelection(0)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[1].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[1].name}}
            </div>
            <div class="card-text">
              {{featured[1].description}}
            </div>
            <div class="card-text">
              {{featured[1].price}} PKR / {{featured[1].size}} Metre
            </div>
            <button class="card-button" (click)="onDataSelection(1)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[2].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[2].name}}
            </div>
            <div class="card-text">
              {{featured[2].description}}
            </div>
            <div class="card-text">
              {{featured[2].price}} PKR / {{featured[2].size}} Metre
            </div>
            <button class="card-button" (click)="onDataSelection(2)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[3].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[3].name}}
            </div>
            <div class="card-text">
              {{featured[3].description}}
            </div>
            <div class="card-text">
              {{featured[3].price}} PKR / {{featured[3].size}} Metre
            </div>
            <button class="card-button" (click)="onDataSelection(3)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[4].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[4].name}}
            </div>
            <div class="card-text">
              {{featured[4].description}}
            </div>
            <div class="card-text">
              {{featured[4].price}} PKR / {{featured[4].size}} Metre
            </div>
            <button class="card-button" (click)="onDataSelection(4)"> Add To Cart</button>
          </div>
        </div>
        <div class="mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[5].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[5].name}}
            </div>
            <div class="card-text">
              {{featured[5].description}}
            </div>
            <div class="card-text">
              {{featured[5].price}} PKR / {{featured[5].size}} Metre
            </div>
            <button class="card-button" (click)="onDataSelection(5)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[6].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[6].name}}
            </div>
            <div class="card-text">
              {{featured[6].description}}
            </div>
            <div class="card-text">
              {{featured[6].price}} PKR / {{featured[6].size}} Metre
            </div>
            <button class="card-button" (click)="onDataSelection(6)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[7].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[7].name}}
            </div>
            <div class="card-text">
              {{featured[7].description}}
            </div>
            <div class="card-text">
              {{featured[7].price}} PKR / {{featured[7].size}} Metre
            </div>
            <button class="card-button" (click)="onDataSelection(7)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[8].images[0]}} />
            </div>
            <div class="card-heading">
              {{featured[8].name}}
            </div>
            <div class="card-text">
              {{featured[8].description}}
            </div>
            <div class="card-text">
              {{featured[8].price}} PKR / {{featured[8].size}} Metre
            </div>
            <button class="card-button" (click)="onDataSelection(8)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[9].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[9].name}}
            </div>
            <div class="card-text">
              {{featured[9].description}}
            </div>
            <div class="card-text">
              {{featured[9].price}} PKR / {{featured[9].size}} Metre
            </div>
            <button class="card-button" (click)="onDataSelection(9)"> Add To Cart</button>
          </div>
        </div>
      </carousel>
    </div>
  </div>
