<div class="container-fluid">
<div class="row p-4">
  <div class="col-12 col-sm-3 mt-5">
    <app-filters></app-filters>
  </div>
  <div class="col mt-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb"   style="background-color: #dad3c7">
          <li class="breadcrumb-item"><a routerLink='/home'>Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cotton</li>
      </ol>
  </nav>
  <div class="row mt-5">
      <div class=" col-md-4">
        <div class="card-sl">
          <div class="card-image">
            <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" routerLink="/productCotton"/>
          </div>

          <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
          <div class="card-heading">
            Wash & Wear Unstitched
          </div>
          <div class="card-text">
            Best quality suit easy to wear, does not need pressing.
          </div>
          <div class="card-text">
            4000 PKR / 4 Metre
          </div>
          <a href="#" class="card-button"> Add To Cart</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-sl">
          <div class="card-image">
            <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
          </div>

          <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
          <div class="card-heading">
            Wash & Wear Unstitched
          </div>
          <div class="card-text">
            Best quality suit easy to wear, does not need pressing.
          </div>
          <div class="card-text">
            4000 PKR / 4 Metre
          </div>
          <a href="#" class="card-button"> Add To Cart</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-sl">
          <div class="card-image">
            <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
          </div>

          <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
          <div class="card-heading">
            Wash & Wear Unstitched
          </div>
          <div class="card-text">
            Best quality suit easy to wear, does not need pressing.
          </div>
          <div class="card-text">
            4000 PKR / 4 Metre
          </div>
          <a href="#" class="card-button"> Add To Cart</a>
        </div>
      </div>
  </div>
  </div>
</div>
</div>
<hr  style="border: 1px solid #514646;">


<h1 class="d-flex justify-content-center mt-5 mb-5">Featured Products</h1>
<div class="container-fluid" >
  <section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6 ">
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" style="background-color: #514646 !important;" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3" style="background-color: #514646 !important;" href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active" >
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                  <div class="card-sl">
                                    <div class="card-image">
                                      <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
                                    </div>

                                    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                    <div class="card-heading">
                                      Wash & Wear Unstitched
                                    </div>

                                    <div class="card-text">
                                      4000 PKR / 4 Metre
                                    </div>
                                    <a href="#" class="card-button"> Add To Cart</a>
                                  </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <div class="card-sl">
                                    <div class="card-image">
                                      <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
                                    </div>

                                    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                    <div class="card-heading">
                                      Wash & Wear Unstitched
                                    </div>

                                    <div class="card-text">
                                      4000 PKR / 4 Metre
                                    </div>
                                    <a href="#" class="card-button"> Add To Cart</a>
                                  </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <div class="card-sl">
                                    <div class="card-image">
                                      <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
                                    </div>

                                    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                    <div class="card-heading">
                                      Wash & Wear Unstitched
                                    </div>

                                    <div class="card-text">
                                      4000 PKR / 4 Metre
                                    </div>
                                    <a href="#" class="card-button"> Add To Cart</a>
                                  </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                  <div class="card-sl">
                                    <div class="card-image">
                                      <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
                                    </div>

                                    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                    <div class="card-heading">
                                      Wash & Wear Unstitched
                                    </div>
                                    <div class="card-text">
                                      Best quality suit easy to wear, does not need pressing.
                                    </div>
                                    <div class="card-text">
                                      4000 PKR / 4 Metre
                                    </div>
                                    <a href="#" class="card-button"> Add To Cart</a>
                                  </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <div class="card-sl">
                                    <div class="card-image">
                                      <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
                                    </div>

                                    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                    <div class="card-heading">
                                      Wash & Wear Unstitched
                                    </div>
                                    <div class="card-text">
                                      Best quality suit easy to wear, does not need pressing.
                                    </div>
                                    <div class="card-text">
                                      4000 PKR / 4 Metre
                                    </div>
                                    <a href="#" class="card-button"> Add To Cart</a>
                                  </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <div class="card-sl">
                                    <div class="card-image">
                                      <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
                                    </div>

                                    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                    <div class="card-heading">
                                      Wash & Wear Unstitched
                                    </div>
                                    <div class="card-text">
                                      Best quality suit easy to wear, does not need pressing.
                                    </div>
                                    <div class="card-text">
                                      4000 PKR / 4 Metre
                                    </div>
                                    <a href="#" class="card-button"> Add To Cart</a>
                                  </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                  <div class="card-sl">
                                    <div class="card-image">
                                      <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
                                    </div>

                                    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                    <div class="card-heading">
                                      Wash & Wear Unstitched
                                    </div>
                                    <div class="card-text">
                                      Best quality suit easy to wear, does not need pressing.
                                    </div>
                                    <div class="card-text">
                                      4000 PKR / 4 Metre
                                    </div>
                                    <a href="#" class="card-button"> Add To Cart</a>
                                  </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <div class="card-sl">
                                    <div class="card-image">
                                      <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
                                    </div>

                                    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                    <div class="card-heading">
                                      Wash & Wear Unstitched
                                    </div>
                                    <div class="card-text">
                                      Best quality suit easy to wear, does not need pressing.
                                    </div>
                                    <div class="card-text">
                                      4000 PKR / 4 Metre
                                    </div>
                                    <a href="#" class="card-button"> Add To Cart</a>
                                  </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <div class="card-sl">
                                    <div class="card-image">
                                      <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
                                    </div>

                                    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                                    <div class="card-heading">
                                      Wash & Wear Unstitched
                                    </div>
                                    <div class="card-text">
                                      Best quality suit easy to wear, does not need pressing.
                                    </div>
                                    <div class="card-text">
                                      4000 PKR / 4 Metre
                                    </div>
                                    <a href="#" class="card-button"> Add To Cart</a>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
