<div class="container-fluid">
<div class="row p-4">
  <div class="col-12 col-sm-3 mt-5">
    <app-filters></app-filters>
  </div>
  <div class="col mt-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb"   style="background-color: #dad3c7">
          <li class="breadcrumb-item"><a routerLink='/home' style="color: #514646">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cotton</li>
      </ol>
  </nav>
  <div class="row mt-5">
      <div class=" col-md-4">
        <div class="card-sl">
          <div class="card-image">
            <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" routerLink="/productCotton"/>
          </div>

          <div class="card-heading">
            Wash & Wear Unstitched
          </div>
          <div class="card-text">
            Best quality suit easy to wear, does not need pressing.
          </div>
          <div class="card-text">
            4000 PKR / 4 Metre
          </div>
          <a href="#" class="card-button" routerLink="/cart"> Add To Cart</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-sl">
          <div class="card-image">
            <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
          </div>

          <div class="card-heading">
            Wash & Wear Unstitched
          </div>
          <div class="card-text">
            Best quality suit easy to wear, does not need pressing.
          </div>
          <div class="card-text">
            4000 PKR / 4 Metre
          </div>
          <a href="#" class="card-button"> Add To Cart</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-sl">
          <div class="card-image">
            <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
          </div>

          <div class="card-heading">
            Wash & Wear Unstitched
          </div>
          <div class="card-text">
            Best quality suit easy to wear, does not need pressing.
          </div>
          <div class="card-text">
            4000 PKR / 4 Metre
          </div>
          <a href="#" class="card-button"> Add To Cart</a>
        </div>
      </div>
  </div>
  </div>
</div>
</div>

<div class="container">
<h1 class="d-flex justify-content-center mt-5 mb-5 text-center">Featured Products</h1>
</div>
<div class="container-fluid" >
 <div class="row">
  <carousel [height]="500" [cellWidth]="300" [loop]=true [autoplay]=true>
    <div class=" mt-2 carousel-cell">
      <div class="card-sl">
        <div class="card-image">
          <img
            src="https://image.made-in-china.com/2f0j00hukGmbePfHon/Knitting-Fabric-Solid-Cotton-Fabric-Cotton-Spandex-Fabric-for-T-Shirt-Pullover.jpg" />
        </div>

        <div class="card-heading">
          Cotton Unstitched
        </div>
        <div class="card-text">
          High Quality un-stitched cotton fabric, best for shalwar kameez.
        </div>
        <div class="card-text">
          1500 PKR / 4 Metre
        </div>
        <a href="#" class="card-button"> Add To Cart</a>
      </div>
    </div>
    <div class=" mt-2 carousel-cell">
      <div class="card-sl">
        <div class="card-image">
          <img src="https://static-01.daraz.pk/p/bf268612ddafda18eecd391ca889ad60.jpg" />
        </div>

        <div class="card-heading">
          Cotton Unstitched
        </div>
        <div class="card-text">
          High Quality un-stitched cotton fabric, best for shalwar kameez.
        </div>
        <div class="card-text">
          1500 PKR / 4 Metre
        </div>
        <a href="#" class="card-button"> Add To Cart</a>
      </div>
    </div>
    <div class=" mt-2 carousel-cell">
      <div class="card-sl">
        <div class="card-image">
          <img
            src="https://image.made-in-china.com/2f0j00hukGmbePfHon/Knitting-Fabric-Solid-Cotton-Fabric-Cotton-Spandex-Fabric-for-T-Shirt-Pullover.jpg" />
        </div>

        <div class="card-heading">
          Cotton Unstitched
        </div>
        <div class="card-text">
          High Quality un-stitched cotton fabric, best for shalwar kameez.
        </div>
        <div class="card-text">
          1500 PKR / 4 Metre
        </div>
        <a href="#" class="card-button"> Add To Cart</a>
      </div>
    </div>
    <div class=" mt-2 carousel-cell">
      <div class="card-sl">
        <div class="card-image">
          <img
            src="http://cdn.shopify.com/s/files/1/0313/7025/products/eggplant-purple-raw-silk-fabric_1200x1200.jpg?v=1562926403" />
        </div>

        <div class="card-heading">
          Cotton Unstitched
        </div>
        <div class="card-text">
          High Quality un-stitched cotton fabric, best for shalwar kameez.
        </div>
        <div class="card-text">
          1500 PKR / 4 Metre
        </div>
        <a href="#" class="card-button"> Add To Cart</a>
      </div>
    </div>
    <div class=" mt-2 carousel-cell">
      <div class="card-sl">
        <div class="card-image">
          <img src="https://static-01.daraz.pk/p/bf268612ddafda18eecd391ca889ad60.jpg" />
        </div>

        <div class="card-heading">
          Cotton Unstitched
        </div>
        <div class="card-text">
          High Quality un-stitched cotton fabric, best for shalwar kameez.
        </div>
        <div class="card-text">
          1500 PKR / 4 Metre
        </div>
        <a href="#" class="card-button"> Add To Cart</a>
      </div>
    </div>
    <div class=" mt-2 carousel-cell">
      <div class="card-sl">
        <div class="card-image">
          <img
            src="http://cdn.shopify.com/s/files/1/0313/7025/products/eggplant-purple-raw-silk-fabric_1200x1200.jpg?v=1562926403" />
        </div>

        <div class="card-heading">
          Cotton Unstitched
        </div>
        <div class="card-text">
          High Quality un-stitched cotton fabric, best for shalwar kameez.
        </div>
        <div class="card-text">
          1500 PKR / 4 Metre
        </div>
        <a href="#" class="card-button"> Add To Cart</a>
      </div>
    </div>
    <div class=" mt-2 carousel-cell">
      <div class="card-sl">
        <div class="card-image">
          <img
            src="http://cdn.shopify.com/s/files/1/0313/7025/products/eggplant-purple-raw-silk-fabric_1200x1200.jpg?v=1562926403" />
        </div>

        <div class="card-heading">
          Cotton Unstitched
        </div>
        <div class="card-text">
          High Quality un-stitched cotton fabric, best for shalwar kameez.
        </div>
        <div class="card-text">
          1500 PKR / 4 Metre
        </div>
        <a href="#" class="card-button"> Add To Cart</a>
      </div>
    </div>
    <div class=" mt-2 carousel-cell">
      <div class="card-sl">
        <div class="card-image">
          <img
            src="http://cdn.shopify.com/s/files/1/0313/7025/products/eggplant-purple-raw-silk-fabric_1200x1200.jpg?v=1562926403" />
        </div>

        <div class="card-heading">
          Cotton Unstitched
        </div>
        <div class="card-text">
          High Quality un-stitched cotton fabric, best for shalwar kameez.
        </div>
        <div class="card-text">
          1500 PKR / 4 Metre
        </div>
        <a href="#" class="card-button"> Add To Cart</a>
      </div>
    </div>
    <div class=" mt-2 carousel-cell">
      <div class="card-sl">
        <div class="card-image">
          <img
            src="http://cdn.shopify.com/s/files/1/0313/7025/products/eggplant-purple-raw-silk-fabric_1200x1200.jpg?v=1562926403" />
        </div>

        <div class="card-heading">
          Cotton Unstitched
        </div>
        <div class="card-text">
          High Quality un-stitched cotton fabric, best for shalwar kameez.
        </div>
        <div class="card-text">
          1500 PKR / 4 Metre
        </div>
        <a href="#" class="card-button"> Add To Cart</a>
      </div>
    </div>
  </carousel>
 </div>
</div>
