<!-- <div class="col-md-3 d-flex justify-content-center mt-3">
  <mat-icon matSuffix class="ml-4" routerLink="/favourites" style="cursor: pointer;">favorite_border</mat-icon>
  <mat-icon matSuffix class="ml-4">shopping_cart</mat-icon>
  <mat-icon matSuffix class="ml-4">person_outline</mat-icon>
</div> -->

<div class="wrap" style="background-color: #514646;">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col">
        <p class="mb-0 phone">
          <span class="fa fa-phone phoneColor" style="color: #514646;"></span>
        </p>
      </div>
      <div class="col d-flex justify-content-end">
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand p-1" href="index.html"><strong>
        <h1 style="color: #514646;">OAIM'S</h1>
      </strong></a>
    <!-- <div class="logo_div justify-content-center" style="align-items: center;">
      <h2>OAIM'S</h2>
    </div> -->

    <form action="#" class="searchform order-sm-start order-lg-last">

      <div class=" d-flex justify-content-center">
        <mat-icon matSuffix matBadge="{{cartCount}}" class="ml-4 mt-3 cursor" (click)="checkout()">
          shopping_cart{{cartCount}}</mat-icon>
        <mat-icon matSuffix class="ml-4 mt-3 cursor" routerLink="/auth" *ngIf="!checkSession()">person</mat-icon>
        &nbsp;&nbsp;&nbsp;
        <button class="btn" style="background-color:#FFCE31;color: #000;" *ngIf="checkSession()"
          (click)="logout()">Logout</button>
      </div>
    </form>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span> Menu
    </button>

    <div class="collapse navbar-collapse mt-1" id="ftco-nav">
      <ul class="navbar-nav m-auto">

        <li class="nav-item"><a routerLink="" class="nav-link navItemColor">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navItemColor" href="#" id="dropdown04" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">New Arrival</a>
          <div class="dropdown-menu navItemColor" aria-labelledby="dropdown04"
            *ngFor="let data of allCategoriesName;index as i">
            <div *ngFor="let data of allCategoriesName;index as i">
              <a class="dropdown-item navItemColor" (click)="onCategory(data.categoryName)">{{data.categoryName}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item "><a routerLink="/orders-history" class="nav-link navItemColor">Orders</a></li>
        <li class="nav-item "><a routerLink="/about" class="nav-link navItemColor">About Us</a></li>


      </ul>
    </div>
  </div>
</nav>
