<div class="container-fluid">
  <div class="row p-4">
    <div class="col-md-6" style="background-color: #fff;border: 1px solid #000">
      <h1 class="text-center mt-5 mb-5"><strong>Shipping</strong></h1>
    </div>
    <div class="col-md-6" style="background-color: #514646;color: white;">
      <h1 class="text-center mt-5 mb-5"><strong>Review Payment</strong></h1>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="d-flex justify-content-center mt-5 mb-5 text-center">Payment Methods</h2>
</div>
<div class="container-fluid pr-5 pl-5">
  <div class="row">
    <div class="col-md-5 p-5 mt-5">
      <div class="row">
        <mat-radio-group aria-label="Select an option">
          <div class="row">
            <mat-radio-button value="1" (change)="cashOnDeliveryRadioButtonCheck($event)">Cash on Delivery
            </mat-radio-button>
          </div>
          <!-- <div class="row">
          <mat-radio-button value="2">Credit or Debit Card</mat-radio-button>
        </div> -->
        </mat-radio-group>
      </div>
      <div class="row" style="float: right">
        <button class="btn mr-3" style="background-color: #514646;color: #fff;" (click)="sendDataToInvoice()">Place
          Order</button>
      </div>
    </div>
    <div class="col-md-7 cart p-5" >
      <div class="title">
        <div class="row">
          <h3><strong>Your Orders</strong></h3>
        </div>
      </div>
      <div class="row border-top border-bottom" *ngFor="let order of allDataCart">
        <div class="row main align-items-center">
          <div class="col-2"><img class="img-fluid" src={{order.images[0]}}></div>
          <div class="col-2">
            <div class="row mt-1"><strong>Name</strong>&nbsp; {{ order.name}}</div>
          </div>
          <div class="col-2 mt-1" >
            <span class="fa-2x dot mt-1 ml-4" [ngStyle]="{ 'background-color': order.colorSelected }"
                  ng-model="button.value" style="color: transparent"></span>
            <!-- {{cart.colorSelected}}</strong>  -->
          </div>
          <div class="col-2 mt-1"><strong>Size</strong> {{order.selectedSize}}M</div>
          <div class="col mt-1"><strong>Qty</strong> {{order.quantity}}</div>
          <div class="col mt-1">Rs.{{order.selectedPrice}} </div>
        </div>
      </div>



      <div class="container-fluid">
        <div class="row" style="float:right">
          <h4 class="mt-2"><strong>Total:</strong> {{this.totalPrice}} <strong>Rs</strong></h4>
        </div>
      </div>
    </div>
  </div>
</div>
