<div class="container-fluid">
  <div class="row">
    <h1 class="mt-5">About Us</h1>
  </div>
</div>

<div class="container-fluid mt-5 pl-5">
  <div class="row col-md-10 offset-md-1 p-5" style="border:2px solid black">
    <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi consectetur minus eos magnam dolores porro
      iure,
      officiis perspiciatis eaque eius debitis velit, quos ipsam cum maxime accusantium. Maxime, id cumque. Lorem, ipsum
      dolor sit amet consectetur adipisicing elit. Molestias quis maxime et esse? Vitae eveniet deleniti repudiandae
      exercitationem obcaecati,
      tempore deserunt aperiam fugit rerum atque eius, repellat sunt minus et! Lorem ipsum dolor sit, amet consectetur
      adipisicing elit. Voluptatem ea possimus, nobis animi eligendi voluptates dolore saepe quidem modi harum
      consectetur fugit,
      praesentium, velit corrupti quis iure sit rerum expedita.</q>
    <q class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi consectetur minus eos magnam
      dolores porro iure,
      officiis perspiciatis eaque eius debitis velit, quos ipsam cum maxime accusantium. Maxime, id cumque.</q>
      <div class="col-md-6 offset-md-5 mt-5">
        <span style="align-items: center;"><a href="#"></a></span>
      </div>
  </div>

</div>
