<div class="container-fluid">
  <div class="row p-4">
    <div class="col-md-6" style="background-color: #fff;border: 1px solid #000">
      <h1 class="text-center mt-5 mb-5"><strong>Shipping</strong></h1>
    </div>
    <div class="col-md-6" style="background-color: #514646;color: white;">
      <h1 class="text-center mt-5 mb-5"><strong>Review Payment</strong></h1>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="d-flex justify-content-center mt-5 mb-5 text-center">Payment Methods</h2>
</div>
<div class="container-fluid pr-5 pl-5">
  <div class="row">
    <div class="col-md-5 p-5 mt-5">
      <div class="row">
        <mat-radio-group aria-label="Select an option">
          <div class="row">
          <mat-radio-button value="1">Cash on Delivery</mat-radio-button>
        </div>
        <div class="row">
          <mat-radio-button value="2">Credit or Debit Card</mat-radio-button>
        </div>
        </mat-radio-group>
      </div>
      <div class="row" style="float: right">
        <button class="btn mr-3" style="background-color: #514646;color: #fff;" routerLink="/placed-orders">Place Order</button>
      </div>
  </div>
    <div class="col-md-7 cart p-5">
      <div class="title">
        <div class="row">
          <h3>Your Orders</h3>
        </div>
      </div>
      <div class="row border-top border-bottom">
        <div class="row main align-items-center">
          <div class="col-2"><img class="img-fluid"
              src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg"></div>
          <div class="col">
            <div class="row ">Cotton</div>
          </div>
          <div class="col">Color <strong>Coffee</strong> </div>
          <div class="col">4 M</div>
          <div class="col">Rs. 1000 </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="row main align-items-center">
          <div class="col-2"><img class="img-fluid"
              src="https://image.made-in-china.com/2f0j00hukGmbePfHon/Knitting-Fabric-Solid-Cotton-Fabric-Cotton-Spandex-Fabric-for-T-Shirt-Pullover.jpg">
          </div>
          <div class="col">
            <div class="row ">MVS</div>
          </div>
          <div class="col">Color <strong>Yellow</strong> </div>
          <div class="col">5 M</div>
          <div class="col"> Rs. 1500</div>
        </div>
      </div>
      <div class="row border-top border-bottom mt-2">
        <div class="row main align-items-center">
          <div class="col-2"><img class="img-fluid"
              src="http://cdn.shopify.com/s/files/1/0313/7025/products/eggplant-purple-raw-silk-fabric_1200x1200.jpg?v=1562926403">
          </div>
          <div class="col">
            <div class="row text-muted">Wash & Wear</div>
          </div>
          <div class="col">Color <strong>Purple</strong> </div>
          <div class="col">4 M</div>
          <div class="col">Rs. 1200 </div>
        </div>
      </div>
    </div>
  </div>
</div>
