<div class="container">
  <h1 class="d-flex justify-content-center mt-5 mb-3 text-center">Orders List</h1>
</div>
<section class="gradient-custom">
  <div class="container-fluid py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px;">
          <div class="card-body p-4">
            <div class="card shadow-0 border mb-4" *ngFor="let order of orders; let i = index">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img src={{order?.orderItems[0]?.product?.images[0]}} class="img-fluid" alt="Phone">
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class=" mb-0">{{order?.orderItems[0]?.product?.name}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class=" mb-0 ">Size: {{order?.orderItems[0]?.size}} M</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class=" mb-0 ">Qty: {{order?.orderItems[0]?.quantity}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class=" mb-0 ">Status {{order?.status}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <button class="btn btn-large" style="background-color:#FFCE31;color: #000;"
                      (click)="displayOrders(order._id, order, 'history')">Details</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
