<div class="container-fluid">
  <div class="row p-4">
    <div class="col-md-6" style="background-color: #514646;color: white;">
      <h1 class="text-center mt-5 mb-5"><strong>Shipping</strong></h1>
    </div>
    <div class="col-md-6" style="background-color: #fff;border: 1px solid #000">
      <h1 class="text-center mt-5 mb-5"><strong>Review Payment</strong></h1>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="d-flex justify-content-center mt-5 mb-5 text-center">Your Details</h2>
</div>


<div class="container-fluid pr-5 pl-5">
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6 mt-5">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>First Name</mat-label>
            <input matInput #name>
          </mat-form-field>
        </div>
        <!-- <div class="col-md-6 mt-5">
          <mat-form-field appearance="outline" class="mr-5" style="width: 100%;">
            <mat-label>Last Name</mat-label>
            <input matInput>
          </mat-form-field>
        </div> -->
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Phone Number</mat-label>
            <input matInput style="width: 100%;" #number>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="mr-5" style="width: 100%;">
            <mat-label>City</mat-label>
            <input matInput #city>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Address</mat-label>
          <textarea matInput #address></textarea>
        </mat-form-field>
      </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
        <div class="example-container">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" required #userEmail>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      </div>

      <div class="row mt-3" *ngIf="!edited">
        <div class="col-md-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Phone Number</mat-label>
            <input matInput style="width: 100%;">
          </mat-form-field>
        </div>
        <div class="col-md-6" *ngIf="!edited">
          <mat-form-field appearance="outline" class="mr-5" style="width: 100%;">
            <mat-label>City</mat-label>
            <input matInput #city>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-3" *ngIf="!edited">
        <div class="col-md-12">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Address</mat-label>
          <textarea matInput ></textarea>
        </mat-form-field>
      </div>
      </div>
      <div class="row" style="float: right">
        <button class="btn mr-3" style="background-color: #514646;color: #fff;" (click)="saveInformation(name.value, number.value, city.value, userEmail.value, address.value)">Next</button>
      </div>
    </div>
    <div class="col-md-7 cart p-5">
      <div class="title">
          <div class="row">
                  <h3>Your Orders</h3>
          </div>
      </div>
      <div class="row border-top border-bottom" *ngFor="let cart of cartData; index as i">
          <div class="row main align-items-center">
              <div class="col-2"><img class="img-fluid" src={{cart.images}}></div>
              <div class="col">
                  <div class="row ">{{cart.name}}</div>
              </div>
              <div class="col">Color <strong>{{cart.colorSelected}}</strong> </div>
              <div class="col">Size {{cart.size}}M</div>
              <div class="col">Quantity {{cart.quantity}}</div>
              <div class="col">Rs.{{cart.price}} </div>
              <button class="btn btn-danger" (click)="removeItem(i)">Remove</button>
          </div>
      </div>

  </div>
</div>
