<h1 class="d-flex justify-content-center mt-5 mb-5">Favourites</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card-sl">
        <div class="card-image">
          <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
        </div>

        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
        <div class="card-heading">
          Wash & Wear Unstitched
        </div>
        <div class="card-text">
          Best quality suit easy to wear, does not need pressing.
        </div>
        <div class="card-text">
          4000 PKR / 4 Metre
        </div>
        <a href="#" class="card-button"> Add To Cart</a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-sl">
        <div class="card-image">
          <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
        </div>

        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
        <div class="card-heading">
          Wash & Wear Unstitched
        </div>
        <div class="card-text">
          Best quality suit easy to wear, does not need pressing.
        </div>
        <div class="card-text">
          4000 PKR / 4 Metre
        </div>
        <a href="#" class="card-button"> Add To Cart</a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-sl">
        <div class="card-image">
          <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
        </div>

        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
        <div class="card-heading">
          Wash & Wear Unstitched
        </div>
        <div class="card-text">
          Best quality suit easy to wear, does not need pressing.
        </div>
        <div class="card-text">
          4000 PKR / 4 Metre
        </div>
        <a href="#" class="card-button"> Add To Cart</a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-sl">
        <div class="card-image">
          <img src="https://static-01.daraz.pk/p/3aea4852a85beafdec079895ed40388b.jpg" />
        </div>

        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
        <div class="card-heading">
          Wash & Wear Unstitched
        </div>
        <div class="card-text">
          Best quality suit easy to wear, does not need pressing.
        </div>
        <div class="card-text">
          4000 PKR / 4 Metre
        </div>
        <a href="#" class="card-button"> Add To Cart</a>
      </div>
    </div>
  </div>
</div>
