<div class="container-fluid" *ngIf="productsDataIf">
  <div class="row p-5">
    <div class="col-md-4 mt-5">
      <div class="product-imgs">
        <div class="img-display">
          <div class="img-showcase">
            <img src={{productsData.images[0]}}>
          </div>
        </div>
        <div class="img-select">
          <div class="img-item">
            <a data-id="1">
              <img (click)="swapImageOnClick(1)" src={{productsData.images[1]}}>
            </a>
          </div>
          <div class="img-item">
            <a data-id="2">
              <img (click)="swapImageOnClick(0)" src={{productsData.images[0]}}>
            </a>
          </div>
          <div class="img-item">
            <a data-id="3">
              <img (click)="swapImageOnClick(0)" src={{productsData.images[0]}}>
            </a>
          </div>
          <div class="img-item">
            <a data-id="4">
              <img (click)="swapImageOnClick(1)" src={{productsData.images[1]}}>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- card right -->
    <div class="col-md-7 mt-4 ml-5 p-2" *ngIf="productsDataIf">
      <div class="product-content">
        <H1>{{id}}</H1>
        <h2 class="product-title">{{productsData.name}}</h2>

        <div class="row">
          <div class="col-md-3">
            <div class="product-price">
              <p class="new-price"><span>RS.{{this.selectedPrice}}</span></p>
            </div>
          </div>
          <div class="col-md-3 mt-4">
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fa fa-star-half-alt"></i>
              <span> (100)</span>
            </div>
          </div>
        </div>

        <form name="demo"></form>
        <div class="row mt-2">
          <div style="text-align:center" *ngFor="let data of productsData.color">
            <mat-radio-group [(ngModel)]="definedColor">
              <mat-radio-button [value]="data" class="mr-2" #button [value]="data" checked #color
                (change)="onRadioButtonChange($event)">
                <span class="fa fa-phone fa-2x dot mt-2" [ngStyle]="{'background-color':data}" ng-model="button.value"
                  style="color:transparent"></span>
              </mat-radio-button>
            </mat-radio-group>
            <!-- <span class="dot ml-2" style="background-color: yellow;"></span>
            <span class="dot ml-2" style="background-color: navy;"></span>
            <span class="dot ml-2" style="background-color: gray;"></span> -->
          </div>
        </div>
        <div class="row mt-2 mb-3">
          <div class="col-md-3 mt-2">
            <input type="number" min="0" value="1" class="inp" #quantity>Quantity
          </div>

          <div class="col-md-3 mt-2">
            <button mat-button class="a-button" (click)="onCheckout(quantity.value)">Add to Cart</button>
          </div>
        </div>
        <div class="row mt-2 mb-3">
          <mat-radio-group aria-label="Select an option" (change)="onMeterRadioButtonChange($event)">
            <mat-radio-button [value]="productsData.size[0]" [checked]="priceCheck">{{productsData.size[0]}}
            </mat-radio-button>
            <mat-radio-button [value]="productsData.size[1]" [checked]="!priceCheck" class="ml-3">
              {{productsData.size[1]}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="product-detail">

          <p class="con">{{productsData?.description}}</p>
          <ul>
            <li>Color: <span>{{definedColor}}
              </span></li>
            <li>Available: <span>in stock</span></li>
            <!-- <li>Category: <span>{{productsData.subCategory.category.categoryName}}</span></li> -->
            <li>Shipping Area: <span>All over the world</span></li>
            <li>Shipping Fee: <span>Free</span></li>
          </ul>
        </div>

        <div class="purchase-info">


          <div class="social-links" style="float: right;">
            <button class="inp2">Continue Shopping</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row py-3">
  <div class="product-content">
    <h1 class="product-title ml-5 mt-5">You May Also Like</h1>
  </div>
  <div class="container-fluid p-5" *ngIf="featuredIf">
    <div class="row">
      <carousel [height]="700" [cellWidth]="350" [loop]=true [autoplay]=true *ngIf="featuredIf">
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[0].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[0].name}}
            </div>
            <div class="card-text">
              {{featured[0].description}}
            </div>
            <div class="card-text">
              {{featured[0].price}} PKR / {{featured[0].size}} Metre
            </div>
            <button class="card-button" (click)="onFeaturedProductCard(0)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[1].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[1].name}}
            </div>
            <div class="card-text">
              {{featured[1].description}}
            </div>
            <div class="card-text">
              {{featured[1].price}} PKR / {{featured[1].size}} Metre
            </div>
            <button class="card-button" (click)="onFeaturedProductCard(1)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[2].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[2].name}}
            </div>
            <div class="card-text">
              {{featured[2].description}}
            </div>
            <div class="card-text">
              {{featured[2].price}} PKR / {{featured[2].size}} Metre
            </div>
            <button class="card-button" (click)="onFeaturedProductCard(2)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[3].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[3].name}}
            </div>
            <div class="card-text">
              {{featured[3].description}}
            </div>
            <div class="card-text">
              {{featured[3].price}} PKR / {{featured[3].size}} Metre
            </div>
            <button class="card-button" (click)="onFeaturedProductCard(3)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[4].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[4].name}}
            </div>
            <div class="card-text">
              {{featured[4].description}}
            </div>
            <div class="card-text">
              {{featured[4].price}} PKR / {{featured[4].size}} Metre
            </div>
            <button class="card-button" (click)="onFeaturedProductCard(4)"> Add To Cart</button>
          </div>
        </div>
        <div class="mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[5].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[5].name}}
            </div>
            <div class="card-text">
              {{featured[5].description}}
            </div>
            <div class="card-text">
              {{featured[5].price}} PKR / {{featured[5].size}} Metre
            </div>
            <button class="card-button" (click)="onFeaturedProductCard(5)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[6].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[6].name}}
            </div>
            <div class="card-text">
              {{featured[6].description}}
            </div>
            <div class="card-text">
              {{featured[6].price}} PKR / {{featured[6].size}} Metre
            </div>
            <button class="card-button" (click)="onFeaturedProductCard(6)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[7].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[7].name}}
            </div>
            <div class="card-text">
              {{featured[7].description}}
            </div>
            <div class="card-text">
              {{featured[7].price}} PKR / {{featured[7].size}} Metre
            </div>
            <button class="card-button" (click)="onFeaturedProductCard(7)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[8].images[0]}} />
            </div>
            <div class="card-heading">
              {{featured[8].name}}
            </div>
            <div class="card-text">
              {{featured[8].description}}
            </div>
            <div class="card-text">
              {{featured[8].price}} PKR / {{featured[8].size}} Metre
            </div>
            <button class="card-button" (click)="onFeaturedProductCard(8)"> Add To Cart</button>
          </div>
        </div>
        <div class=" mt-2 carousel-cell">
          <div class="card-sl">
            <div class="card-image">
              <img appFeaturedImages src={{featured[9].images[0]}} />
            </div>

            <div class="card-heading">
              {{featured[9].name}}
            </div>
            <div class="card-text">
              {{featured[9].description}}
            </div>
            <div class="card-text">
              {{featured[9].price}} PKR / {{featured[9].size}} Metre
            </div>
            <button class="card-button" (click)="onFeaturedProductCard(9)"> Add To Cart</button>
          </div>
        </div>
      </carousel>
    </div>
  </div>
</div>
