<div class="container">
<div class="single category" style="background-color: #dad3c7;">
  <h3 class="side-title  pt-2 head">Filter</h3>
  <section class="example-section ml-3 mt-2">
    <h4 class="mt-3">Category</h4>
    <p><mat-checkbox >Khakhi</mat-checkbox></p>
    <p><mat-checkbox>Wool</mat-checkbox></p>
    <p><mat-checkbox >Wash & Wear</mat-checkbox></p>
    <p><mat-checkbox >Cotton</mat-checkbox></p>
  </section>
  <hr style="border: 1px solid #514646;">
  <section class="example-section ml-3 mt-2">
    <h4 class="mt-3">Price</h4>
    <p><mat-checkbox >4000 - 5000</mat-checkbox></p>
    <p><mat-checkbox>5000 - 10000</mat-checkbox></p>
  </section>
  <hr  style="border: 1px solid #514646;">
  <section class="example-section ml-3 mt-2">
    <h4 class="mt-3">Colours</h4>
    <p><mat-checkbox >White</mat-checkbox></p>
    <p><mat-checkbox>Black</mat-checkbox></p>
    <p><mat-checkbox >Orange</mat-checkbox></p>
    <p><mat-checkbox >Navy Blue</mat-checkbox></p>
    <p><mat-checkbox >Purple</mat-checkbox></p>
    <p><mat-checkbox >Brown</mat-checkbox></p>
  </section>
</div>
</div>
